*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color:rgb(94, 117, 117);
}

.toolbox-cont{
    background-color: rgb(36, 35, 35);
    height: 5rem;
    width: 100vw;
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
}

.toolbox-priority-cont{
    background-color: #F3EFE0;
    height: 3rem;
    width: 18rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 2px;
}

.action-btn-cont{
    background-color: #F3EFE0;
    height: 3rem;
    width : 10rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 2px;
}

.colour{
    background-color: beige;
    height: 1.5rem;
    width :3rem;
    cursor: pointer;
}

.lightPink{
    background-color: rgb(252, 45, 79);
    border-radius: 2px;
}

.lightBlue{
    background-color: rgb(0, 191, 255);
    border-radius: 2px;
}

.lightGreen{
    background-color: rgb(0, 255, 0);
    border-radius: 2px;
}

.black{
    background-color: rgb(45, 12, 12);
    border-radius: 2px;
}

.add-btn{
    font-size: 1.5rem;
    cursor: pointer;
}

.add-btn:hover{
    font-size: 1.6rem
}

.display-add-function{
    background-color: aliceblue;
    display: none;
    width: 10rem;
    font-size: 1rem;
}

.delete-btn{
    font-size: 1.5rem;
    cursor: pointer;
}

.delete-btn:hover{
    font-size: 1.6rem
}
.modal-cont{
    position: absolute;
    top : 25vh;
    left : 20vw;
    background-color:rgb(75, 75, 75);
    height: 50vh;
    width: 50vw;
    display: none;
}

.textarea-cont{
    outline: none;
    border: none;
    resize: none;
    background-color:rgb(223, 223, 223);
    height: 100%;
    width: 75%;
    font-size: 2rem;
    padding: 2rem;
    border-right: 2.5px solid black;
}

.priority-color-cont{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.priority-color{
    height: 3rem;
    width : 5rem;
    cursor: pointer;
}

.active{
    border: 5px outset whitesmoke;
}

.main-cont{
    margin-top: 7rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 2rem;
}

.ticket-cont{

    background-color:#F3EFE0;
    height: 10rem;
    width: 16rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.ticket-color{
    height: 1rem;
    cursor: pointer;
}

.ticket-id{
    background-color:#F3EFE0;
    height: 1rem;
    padding: 0.2rem;
    font-size: 0.6rem;
    color:rgb(63, 63, 249);
    font-weight: 600;
}

.task-area{
    height: 5rem;
    font-size: 1.25rem;
    padding : 0.3rem;
    overflow: auto;
    outline: none;
    word-break: break-all;
}

.lock-unlock{
    font-size: 1.5rem;
    margin-top: 0.4rem;
    margin-left: 14rem;
    cursor: pointer;
}